body {
    text-align: center;
    color: #121212;
}

#card {
    border: 3px solid black;
    padding: 20px 40px;
    width: 400px;
    margin: 100px auto;
}
#stadium {
    width: 100%;
    border: 3px solid #121212;
}

#email {
    border: 3px solid #121212;
    width: 160px;
    padding: 14px 25px;
    margin-bottom: 10px;
}

button {
    color: white;
    background-color: #121212;
    border: none;
    padding: 15px 25px;
    width: 214px;
}

a {
    color: #121212;
}